<%- include('../layout/master-top') %>
<div class="d-flex justify-content-end m-2 align-items-center gap-3">
  <form id="filterForm" class="d-flex align-items-center gap-3 flex-wrap" action="/admin<%-adminRoutes.invoiceList %>"> 
  <div class="mb-3">
    <label for="fromDate" class="form-label">From</label>
    <input onchange="filterFormSub()" type="date" class="form-control" id="fromDate" aria-describedby="emailHelp" name="fromDate" placeholder="select date" value="<%-fromDate??'' %>">
  </div>
  <div class="mb-3">
    <label for="toDate" class="form-label">To</label>
    <input onchange="filterFormSub()" type="date" class="form-control" id="toDate" aria-describedby="emailHelp" name="toDate" placeholder="select date" value="<%-toDate??'' %>">
  </div>
</form>
<% if(isFilterApplied){ %>
    <a href="/admin<%-adminRoutes.invoiceList %>" class="btn btn-primary">Reset</a>
  <% } %>
    <a href="/admin<%-adminRoutes.createInvoice %>" target="_blank" class="btn btn-primary">Create Invoice</a>
</div>
<div class="card w-100">
    <div class="card-body p-4">
      <h5 class="card-title fw-semibold mb-4">Invoices</h5>
      <div class="table-responsive">
        <table class="table text-nowrap mb-0 align-middle">
          <thead class="text-dark fs-4">
            <tr>
              <th class="border-bottom-0">
                <h6 class="fw-semibold mb-0">S.No</h6>
              </th>
              <th class="border-bottom-0">
                <h6 class="fw-semibold mb-0">Shop Name</h6>
              </th>
              <th class="border-bottom-0">
                <h6 class="fw-semibold mb-0">Action</h6>
              </th>
              <th class="border-bottom-0">
                <h6 class="fw-semibold mb-0">Created At</h6>
              </th>
            </tr>
          </thead>
          <tbody>
            <% allInvoice.forEach((row,index)=>{ %>
              <tr>
                <td class="border-bottom-0">
                  <h6 class="fw-semibold mb-0"><%-(index+1)  %></h6>
                </td>
                <td class="border-bottom-0">
                  <% if(row.shopName && row.shopName.length>0) {%>
                    <a href="/admin<%-adminRoutes.pdfViewer.replace(':invoiceId',row.id) %>" class="fw-semibold mb-1" ><%-(row.shopName)  %></a>
                    <span class="fw-normal"><%-row.name  %></span>                          
                  <% }else{ %>
                    <a href="/admin<%-adminRoutes.pdfViewer.replace(':invoiceId',row.id) %>" class="fw-semibold mb-1">Unknown</a>
                    <span class="fw-normal"><%-(row.mobile)  %></span>
                  <% } %>                          
                </td>
                <td class="border-bottom-0">
                  <div class="d-flex align-items-center gap-2">
                    <form action="/admin<%-adminRoutes.deleteInvoice.replace(':invoiceId',row.id) %>" method="POST">
                      <input type="hidden" name="_csrf" value="<%-csrfToken %>">
                    </form>
                    <a title="Edit" href="/admin<%-adminRoutes.editInvoice.replace(':invoiceId',row.id) %>" class="badge bg-primary rounded-3 fw-semibold " style="cursor: pointer;color: #fff;margin:5px"><i class="ti ti-edit"></i></a>
                    <a title="View" href="/admin<%-adminRoutes.pdfViewer.replace(':invoiceId',row.id) %>" class="badge bg-secondary rounded-3 fw-semibold " style="cursor: pointer;color: #fff;margin:5px"><i class="ti ti-eye"></i></a>
                    <a title="Delete" href="javascript::void(0)" onclick="submitDeleteForm(event)" class="badge bg-danger rounded-3 fw-semibold " style="cursor: pointer;color: #fff;margin:5px"><i class="ti ti-trash"></i></a>
                  </div>
                  <!-- <div class="d-flex align-items-center gap-2">
                    <span class="badge bg-danger rounded-3 fw-semibold ti ti-trash"></span>
                  </div> -->
                </td>
                <td class="border-bottom-0">
                  <% let d=new Date(row.createdAt) %>
                  <%-d.toLocaleString() %>
                </td>
              </tr> 

            <% }) %>
          </tbody>
        </table>
      </div>
      </div>
    </div>
    <div class="card-body p-4 d-flex justify-content-end">
      <div>
        <% for(let i=1;(i<=pages && !isFilterApplied) && (pages>1);i++){ %>
          <a class="<%-(currentPage===i)?'btn btn-primary m-1':'btn btn-outline-primary' %>" href="/admin<%-adminRoutes.invoiceList %>?page=<%-i  %>"><%-i %></a>
        <% } %>
      </div>
  </div>
  <script>
    function submitDeleteForm(event){
      if(confirm('are you sure?')){
        event.currentTarget.parentElement.querySelector('form').submit();
      }
    }

    function filterFormSub(){
      document.getElementById('filterForm').submit();
      
      if(document.getElementById('formDate') && document.getElementById('formDate').value!==''){
      }
    }

  </script>
<%- include('../layout/master-bottom') %>