<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice</title>
    <style>
         body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f7f7f7;
        }
        .invoice-container {
            width: 100%;
            /* max-width: 800px; */
            /* margin: 20px auto; */
            background-color: #fff;
            padding: 20px;
            box-sizing: border-box;
            /* border-radius: 10px; */
            /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
        }
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
        }
        .header img {
            max-height: 180px;
        }
        .invoice-details{
            display: flex;
            justify-content: space-between;
            align-items: center;
            & .billedTo{
                text-align: right;
                word-break: break-all
                /* width: 200px; */
            }
        }
        .header div {
            text-align: right;
        }
        h1 {
            margin: 0;
            font-size: 32px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }
        table th, table td {
            padding: 10px;
            text-align: left;
        }
        table th {
            background-color: #333;
            color: #fff;
        }
        table tr:nth-child(even) {
            background-color: #f7f7f7;
        }
        .total-row td {
            font-weight: bold;
            font-size: 18px;
        }
        .payment-info {
            font-size: 14px;
            margin-top: 30px;
        }
        .payment-info p {
            margin: 5px 0;
        }
        .footer {
            text-align: right;
            font-size: 12px;
            margin-top: 20px;
        }
        .footer-row{
            text-align: right;
        }
    </style>
</head>
<body>
    <div class="invoice-container" style="margin: 0 0 80px 0;">
        <div class="header">
            <div>
                <img src="http://shivamhosiery.com/SH.png" alt="" style="width:180px;">
                <!-- <h2>SHIVAM HOSIERY</h2> -->
            </div>
            <div style="max-width: 250px;">
                <p><strong>FROM:</strong></p>
                <p><%- config.shopName %></p>
                <p><%- config.shopAddress %></p>
                <p>
                    <p style="margin:0">
                        Mob: <%- config.shopMobile %>
                    </p>
                    <p style="margin:0">
                        GSTIN: <%- config.shopGST %>
                    </p>
                </p>
            </div>
        </div>

        <div class="invoice-details">
            <div>
                <p><strong>Invoice No:</strong> <%- invoiceId %></p>
                <p><strong>Date:</strong> <%- createdAt %></p>
            </div>
            <div class="billedTo">
                <p><strong>BILLED TO:</strong></p>
                <% if (toShopName && toShopName.length > 0) { %>
                    <p><%- toShopName %></p>
                <% } else if (toName && toName.length > 0) { %>
                    <p><%- toName %></p>
                <% } else { %>
                    <p>New</p>
                <% } %>

                <% if (toAddress && toAddress.length > 0) { %>
                    <p>
                        <p style="margin:0;"><%- toAddress %></p>
                        <p style="margin:0;">
                            <% if (toCity && toCity.length > 0) { %><%- toCity %> <% } %>
                        <% if (toState && toState.length > 0) { %><%- toState %> <% } %>
                        <% if (toCountry && toCountry.length > 0) { %><%- toCountry %> <% } %>
                        <% if (toPinCode && Number(toPinCode)!=0 &&  toPinCode.length > 0) { %><%- toPinCode %><% } %>
                        </p>
                    </p>
                <% } %>

                <!-- <p>
                    
                </p> -->
                <p>
                    <% if (toGST && toGST.length > 0) { %>
                        <p style="margin:0;">GSTIN: <%- toGST %></p>
                    <% } %>
    
                    <% if (toMobile && toMobile.length > 0) { %>
                        <p style="margin:0;">Mob: <%- toMobile %></p>
                    <% } %>
    
                    <% if (toEmail && toEmail.length > 0) { %>
                        <p style="margin:0;">Email: <%- toEmail %></p>
                    <% } %>
                </p>
            </div>
        </div>

        <table border="1">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>ITEM DESCRIPTION</th>
                    <th>HSN/SAC CODES</th>
                    <th>QTY</th>
                    <th>UNIT</th>
                    <th>PRICE</th>
                    <th>TOTAL</th>
                </tr>
            </thead>
            <tbody>
                <% items.map((element, index) => { %>
                    <tr>
                        <td><%- index + 1 %></td>
                        <td style="word-break: break-all;max-width: 200px;"><%- element.itemDescription %></td>
                        <td><%- element.HSNCode %></td>
                        <td><%- element.qty %></td>
                        <td><%- element.unit %></td>
                        <td><%- element.price %></td>
                        <td><%- Number(element.total).toFixed(2) %></td>
                    </tr>
                <% }) %>
            </tbody>
            <tfoot>
                <tr class="total-row">
                    <td class="footer-row" colspan="6">SUB TOTAL AMOUNT :</td>
                    <td>₹<%- Number(subTotal).toFixed(2) %></td>
                </tr>
                <tr class="total-row">
                    <td class="footer-row" colspan="6">SGST(+<%-config['tax.sgst']%>) :</td>
                    <td>₹<%- Number(sgst).toFixed(2) %></td>
                </tr>
                <tr class="total-row">
                    <td class="footer-row" colspan="6">CGST(+<%-config['tax.cgst']%>) :</td>
                    <td>₹<%- Number(cgst).toFixed(2)%></td>
                </tr>
                <tr class="total-row">
                    <td class="footer-row" colspan="6">Discount(-<%-config['discount']%>) :</td>
                    <td>₹<%- Number(discount).toFixed(2) %></td>
                </tr>
                <tr class="total-row">
                    <td class="footer-row" colspan="6">TOTAL AMOUNT :</td>
                    <td>₹<%- Number(total).toFixed(2) %></td>
                </tr>
            </tfoot>
        </table>

        <div class="payment-info">
            <p><strong>Please make payments to:</strong></p>
            <p><%- config.shopName %></p>
            <p>Bank Name: <%- config.bankName %></p>
            <p>Account No.: <%- config.accountNo %></p>
            <p>IFSC Code.: <%- config.ifscCode %></p>
        </div>

        <div class="footer">
            <p><%- config.shopName %></p>
            <p><%- config.shopAddress %></p>
        </div>
    </div>
</body>
</html>
